body {
  margin:40px;
  background-color:lightcyan
}

form {
   /* border: 1px solid black;
   border-radius:8px; */
   padding: 16px;
   text-align: center;
}


input{
  width:200px;
}

p {
  text-align:center;
}

#preset {
  text-align:center;
}